#landscape {
  margin-left: 200px;
}

body {
  padding-top: 50px;
}

.map {
  padding-top: 50px;
  text-align: center;
  z-index: 1000;
  background-image: url('../../assets/img/map_mock_up.png');
  background-repeat: no-repeat;
  background-position: center center;
}

.artwork .h3 {
  font-size: 500px;
}

.artwork .h3 {
  font-size: 50px;
  font-weight: bold;
}

.artwork .h3 {
  font-style: italic;
}

.artwork h2 {
  font-style: italic;
  padding-top: 20px;
}

.artwork h4 {
  padding-top: 20px;
}

.artwork.bodytext {
}

.bodytext {
  font-size: 13px;
  line-height: 18px;
  display: inline-block;
  text-align: left;
  padding-top: 10px;
}

.links {
  font-size: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
}

a .links {
  color: #;
}

.artwork.object {
  padding-top: 50px;
  text-align: center;
}

